/* Filename: App.css */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.home,
.services,
.reports,
.contact,
.events,
.support {
	display: flex;
	justify-content: center;
 margin-top: 5rem;
	font-size: 25px;
}
